_ReSharper*
[Bb]in
obj
objd
pkg
out/
target/
tmp/
.vs
App_Data
*.user
*.sln.cache
*.suo
TestResults
[Tt]humbs.db
buildd.*
build.(err|log|wrn|trc|prf|evt|dbb)
*.log
*.bak
packages
OACRTemp/
build_logs/
lock
/public/inc/bldver.*
/public/inc/sources.ver
.vs/
/Symbols
/drop
/.corext/.pkg/
/.corext/gen/
/.corext/cache
versionsmk.inc
Logs

# msbuild logs
msbuild.log
msbuild.err
msbuild.wrn

#pacman
packages

# quickbuild.exe
/version/
/VersionGeneratingLogs/
QLogs
QLocal
QTestLogs

# bad tlb/chm generators in nmake tree
*.tlb
*.chm

# dumb silverlight
ClientBin/

# dumb azure
*.build.csdef
csx/

# Generated C# files
*.g.cs
*.projhash
*.projhash.userData
*.projhash.userData.assemblies
*.slnhash
*.slnhash.userData
*.slnhash.userData.assemblies

# StyleCop
StyleCop.Cache

.config/.inc/bldver.cpp
.config/.inc/bldver.cs
.config/.inc/bldver.h
.config/.inc/bldver.vb
.config/.inc/sources.ver
.config/.inc/version.htm
.config/.inc/version.sql
.config/.inc/version.json
.config/.inc/version.txt
.gen/
build/.gen_oacr/
build/oacr_exclude.ini
*.tslint
*.d.ts
*.map
*.generated

/VersionGeneration
tslint.out
TypeScripttslintFileListArgs.txt
/.config/dev.packages.props
/src/Provisioning/ProvisioningDatabase/ProvisioningDatabase.refactorlog
.packages